body{
  background-color: white; 
}


.bioPic{
  border-radius: 50%;
}


.flex-container {
  display: flex; 
}


.container {
  height: auto;
  padding: 20;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px; 
}

.item {
  display: flex; 
  width: 375px;
  height: 375px;  
  align-items: center;
  justify-content:center;
}


.fangsong{
  font-family: R Tahoma, Geneva, Verdana, sans-serif;
}


.image img{
  max-width: 350x;
  height: 350px; 
}

.buttons{

}